<div class="pagebody">
    <navbar></navbar>

    <div class="container">
        <div class="chart-title">
            <div class="ng-scope">
                <h1 class="d-inline" ng-hide="createAnnouncements">Comunicados</h1>
                <h1 class="d-inline" ng-show="createAnnouncements">Criar Comunicado</h1>
                <button type="button" class="btn btn-default mb-3 ml-3" ng-show="!createAnnouncements" ng-click="toggleAnnouncements()"><i class="fas fa-list"></i> Listar</button>
                <button type="button" class="btn btn-default mb-3 ml-3" ng-show="createAnnouncements && (user.role==='coordinator' || user.role==='teacher' || user.role==='admin')" ng-click="toggleCreateAnnouncements()"><i class="fas fa-plus"></i> Criar</button>
            </div>
        </div>

        <div>
            <toaster-container toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container>
        </div>

        <div ng-hide="user.role==='student' || user.role==='parent'" class="container">
            <div class="mt-3">
                <div class="col-md-6" style="float: left">
                    <label for="course">Série</label>
                    <select id="course" ng-model="course" class="form-control" ng-change="loadGroups(course)">
                        <option value="" selected disabled>Selecione uma série</option>
                        <option ng-repeat="course in courses" ng-value="course._id">{{course.name}}</option>
                    </select>
                </div>
                <div class="col-md-6 float-right">
                    <label for="group">Turma</label>
                    <select id="group" ng-model="group" class="form-control" ng-change="loadAnnouncements(group)">
                        <option value="" selected disabled ng-if="!course">Selecione antes uma série</option>
                        <option value="" selected disabled ng-if="course">Selecione uma turma</option>
                        <option ng-repeat="group in groups" ng-value="group">{{group.name}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="container" ng-hide="createAnnouncements">
            <div style="font-weight: bold" ng-show="announcements.length === 0"> <p> Nenhum comunicado </p> </div>
            <div style="font-weight: bold" ng-hide="announcements.length === 0"> <p> Total de {{ announcements.length }} comunicados </p> </div>
            <div class="row-md-12" style="height: 550px; overflow: auto">
                <div ng-show="announcements.length > 0" class="card" ng-repeat="announcement in announcements track by $index" style="align-content: left; margin-top: 6px">
                    <div class="card-header">
                        <h5 class="card-title" style="font-weight: bold"> {{ announcement.title }} </h5>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p class="card-text"> {{ announcement.text }} </p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" ng-show="createAnnouncements">
            <div class="form-row mt-3">
                <div class="col-md-12">
                    <label for="announcementTitle">Titulo</label>
                    <input id="announcementTitle" ng-model="newAnnouncement.title" type="text" class="form-control" placeholder="Titulo" aria-label="Titulo" aria-describedby="basic-addon1">

                    <label for="announcementText">Texto</label>
                    <textarea id="announcementText" ng-model="newAnnouncement.text" class="form-control" aria-label="Digite o texto"></textarea>

                    <br>
                    <button type="button" class="btn btn-primary" ng-disabled="!newAnnouncement.title || !newAnnouncement.text || !group" ng-click="createAnnouncement()">Criar</button>
                </div>
            </div>
        </div>
    </div>
</div>
