<div class="pagebody">
    <navbar></navbar>

    <div class="container">
        <div class="chart-title">
            <div class="ng-scope">
                <h1 class="d-inline">Frequência</h1>
            </div>
        </div>

        <div class="mt-3">
          <table class="table table-bordered table-striped table-hover table-condensed">
            <thead>
              <tr>
                <th></th>
                <th>Disciplina</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="subject in subjects">
                <td class="text-center">
                  {{ subject.courses_id }}
                </td>
                <td class="text-center">
                  <a><span style="text-transform: uppercase">{{ subject.name }}</span></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
</div>
