<div class="pagebody">
    <navbar></navbar>

    <div class="container">
        <div class="chart-title">
            <div class="ng-scope">
                <h1 class="d-inline">Frequência</h1>
            </div>
        </div>

        <div>
            <toaster-container toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container>
        </div>

        <!-- TEACHER VIEW -->
        <div class="mt-3" ng-show="user.role==='teacher'">

          <table class="table table-bordered table-striped table-hover table-condensed">
            <thead>
              <tr>
                <th>Disciplinas Ministradas</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="subject in subjects">
                <td class="text-center" ng-if="!teacher.subject_ids.indexOf(subject._id)">
                  <a><span style="text-transform: uppercase">{{ subject.name }}</span></a>
                </td>
              </tr>
            </tbody>
          </table>

        </div>

        <!-- PARENT AND STUDENT VIEW -->
        <div class="mt-3" ng-show="user.role==='parent' || user.role==='student'">

          
        </div>

    </div>
</div>