<div class="pagebody">
    <navbar></navbar>

    <div>
        <toaster-container toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container>
    </div>

    <div class="container">
        <div class="chart-title">
            <div class="ng-scope">
                <h1 ng-hide="createGroups" class="d-inline">Turmas</h1>
                <h1 ng-show="createGroups" class="d-inline">Criar Turma</h1>
                <button type="button" class="btn btn-default mb-3 ml-3" ng-hide="!createGroups" ng-click="toggleGroups()"
                    ng-if="user.role==='coordinator' || user.role==='admin'"><i class="fas fa-list"></i> Listar</button>
                <button type="button" class="btn btn-default mb-3 ml-3" ng-hide="createGroups && (user.role==='coordinator' || user.role==='admin')"
                    ng-if="user.role==='coordinator' || user.role==='admin'" ng-click="toggleCreateGroups()"><i class="fas fa-plus"></i> Criar</button>
            </div>
        </div>

        <div class="inner-container" style="margin-left: 0%" ng-hide="createGroups">
            <div>
                <div>
                    <label for="groups">Selecione uma turma</label>
                    <div id="groups" class="row mb-2" ng-repeat="course in courses">
                        <div class="col" ng-repeat="group in course.groups">
                            <div class="card" ng-class="{'bg-light': group._id == groupSelected._id}">
                                <div class="card-body" ng-click="selectGroup(group, course)" style="cursor: pointer">
                                    {{course.name}} {{group.name}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="inner-container" ng-show="createGroups">
            <div style="margin-top: 3%" class="form-row">
                <div class="form-group col-md-6">
                    <label for="groupName">Nome</label>
                    <input type="text" class="form-control" id="groupName" ng-model="newGroup.name" placeholder="Nome (ex: A)">
                </div>
                <div class="form-group col-md-6">
                    <label for="group2">Série</label>
                    <select id="group2" ng-model="newGroup.course_id" class="form-control" style="height: 34px">
                        <option value="" selected disabled>Selecione uma série</option>
                        <option ng-repeat="course in courses" ng-value="course._id">{{course.name}}</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <button type="button" class="btn btn-primary" ng-click="createGroup()">Criar Turma</button>
                </div>
            </div>
        </div>
        <div class="inner-container">
            <table class="table" style="border-spacing: 20px 0;" ng-show="groupSelected && courseSelected && !createGroups">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Cadastro realizado?</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="student in students track by $index">
                        <th scope="row">{{$index + 2}}</th>
                        <td>{{student.name}}</td>
                        <td ng-if="!student.birthday" style="color: red;"><strong>Não</strong></td>
                        <td ng-if="student.birthday" style="color: green;"><strong>Sim</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
