
<div class="pagebody">
    <div class="container intro-page">
        <div class="escolando-icon">
          <img src="/images/e-icon.png" alt="">
          <p>escolando</p>
        </div>

        <div class="sign-up">

          <div class="form-row">
            <div class="form-group">
              <label for="inputEmail">Email</label>
              <input type="text" class="form-control" id="inputEmail" ng-model="login.email" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="inputPwd">Senha</label>
              <input type="password" class="form-control" id="inputPwd" ng-model="login.password" placeholder="Senha">
            </div>
          </div>

          <button type="button" class="btn btn-primary" ng-click="create_session()">Entrar</button>

          <span style="margin-left: 20px"><a href="#" class="active">cadastrar-se</a></span>

        </div>

    </div>
</div>
