<div class="pagebody">
    <navbar></navbar>
    <div class="container">
        <h1>Notas</h1>
        <div style="margin-top: 3%">
            <div class="col-md-4" style="float: left">
                <label for="course">Série</label>
                <select id="course" ng-model="course" class="form-control">
                    <option value="" selected disabled>Selecione uma série</option>
                    <option ng-repeat="course in courses" ng-value="course._id">{{course.name}}</option>
                </select>
            </div>
            <div class="col-md-4" style="float: left;">
                <label for="group">Turma</label>
                <select id="group" ng-model="group" class="form-control">
                    <option value="" selected disabled ng-if="!course">Selecione antes uma série</option>
                    <option value="" selected disabled ng-if="course">Selecione uma turma</option>
                    <option ng-repeat="group in groups" ng-value="group._id">{{group.name}}</option>
                </select>
            </div>
            <div class="col-md-4" style="float: right;">
                <label for="subject">Disciplina</label>
                <select id="subject" ng-model="subject" class="form-control">
                    <option value="" selected disabled ng-if="!course">Selecione antes uma série</option>
                    <option value="" selected disabled ng-if="course">Selecione uma disciplina</option>
                    <option ng-repeat="subject in subjects" ng-value="subject._id">{{subject.name}}</option>
                </select>
            </div>
        </div>

        <div ng-if="group && subject">

            <button class="btn btn-primary col-md-4 offset-md-4" style="margin-top: 2%" ng-click="edittingMarks = !edittingMarks">
                {{edittingMarks? 'Visualizar Notas' : 'Cadastrar/Editar Notas'}}
            </button>

            <table style="width: 100%; border-collapse: separate; border-spacing: 15px; text-align: center">
                <thead>
                    <tr>
                        <th scope="col">Aluno</th>
                        <th ng-repeat="activity in activities" scope="col">{{activity.name}}</th>
                        <th scope="col">Média</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td ng-repeat="activity in activities">Peso = {{activity.weight}}</td>
                        <td></td>
                    </tr>
                    <tr ng-repeat="student in students" ng-init="student.marks = {}">
                        <td>{{student.name}}</td>
                        <td ng-repeat="activity in activities track by $index">
                            <span ng-if="!edittingMarks">{{marks[student.user_id][activity._id].value}}</span>
                            <input style="text-align: center" type="number" max="10" min="0" class="form-control" ng-if="edittingMarks" ng-model="marks[student.user_id][activity._id].value">
                        </td>
                        <td>{{getStudentAvg(student.user_id) | number: 2}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>