<div class="pagebody">
    <navbar></navbar>
    <div class="container">
        <div class="chart-title">
            <div class="ng-scope">
                <h1 class="d-inline" ng-show="!creating && !updating">Disciplinas</h1>
                <h1 class="d-inline" ng-show="creating">Criar Disciplina</h1>
                <h1 class="d-inline" ng-show="updating">Atualizar Disciplina</h1>
                <button type="button" class="btn btn-default mb-3 ml-3" ng-hide="creating || updating" ng-click="create()">Criar</button>
                <button type="button" class="btn btn-default mb-3 ml-3" ng-show="creating || updating" ng-click="back()">Voltar</button>
            </div>
        </div>
        <div class="col-mt-3" ng-hide="creating || updating">
            <div>
                <div class="card" ng-repeat="subject in subjects track by $index" style="align-content: left; margin-top: 2%;">
                    <div class="card-header">
                        <h5 class="card-title" style="font-weight: bold; float: left"> {{ subject.name }} </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3" ng-show="creating">
            <div class="form-group">
                <label for="subjectName">Nome</label>
                <input type="text" class="form-control" id="subjectName" ng-model="newSubject.name" placeholder="Nome (ex: Biologia)">
            </div>
            <p>Associar Séries</p>
            <div class="row mb-3">
                <div class="col-md-5" id="courses">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="course in courses track by $index">{{course.name}}
                            <button class="btn btn-sm btn-primary float-right" ng-click="addCourse(course)">+</button> </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h1 class="text-center"><i class="fas fa-arrow-right"></i></h1>
                </div>
                <div class="col-md-5">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="course in newSubject.courses track by $index">{{course.name}}
                            <button class="btn btn-sm btn-danger float-right" ng-click="removeCourse(course)">-</button> </li>
                    </ul>
                </div>
            </div>
            <button class="btn btn-primary" ng-click="createSubject()">Criar disciplina</button>
        </div>
        <div class="mt-3" ng-show="updating">
            <div class="form-group">
                <label for="subjectNameU">Nome</label>
                <input type="text" class="form-control" id="subjectNameU" ng-model="subjectSelected.name" placeholder="Nome (ex: Biologia)">
            </div>
            <button class="btn btn-primary" ng-click="createSubject()">Atualizar disciplina</button>
        </div>
    </div>
</div>
