<div class="pagebody">
    <navbar></navbar>
    <div class="container">
        <div class="chart-title">
            <div class="ng-scope">
                <h1 class="d-inline" ng-show="!updating">Professores</h1>
                <h1 class="d-inline" ng-show="updating">Atualizar Professor</h1>
                <button type="button" class="btn btn-default mb-3 ml-3" ng-show="updating" ng-click="back()">Voltar</button>
            </div>
        </div>
        <div class="col-mt-3" ng-hide="updating">
            <div>
                <div class="card" ng-repeat="teacher in teachers track by $index" style="align-content: left; margin-top: 2%;">
                    <div class="card-header item-selection" ng-click="selectTeacher(teacher)">

                        <!-- <h5 class="card-title" style="font-weight: bold; float: left">{{ teacher.user.name }}</h5> -->
                        <div style="width: 100px; height: 100px; float: left; margin-right:10px;">
                          <img class="ml-auto mr-auto" style="max-height: 100px" src="/images/avatar.png" alt="{{ teacher.user.email }}">
                        </div>
                        <ul style="list-style: none">
                          <li><b>{{ teacher.user.name }}</b></li>
                          <li><b>Email: </b>{{ teacher.user.email }}</li>
                          <li><b>UF/Cidade: </b>{{ teacher.user.address.state }} / {{ teacher.user.address.city }}
                            <span style="float:right"><b>Data de Nasc.: </b>{{ teacher.user.birthday | date:'dd/MM/yyyy'}}</span></li>
                          <li><b>Contato: </b> {{ teacher.user.phone }}</li>

                          <li><b>Disciplinas que leciona: </b>
                              <span style="background-color: #deeede; padding:5px; border-radius:10px" ng-repeat="subject_name in teacher.disciplines_"> {{ subject_name }}</span>
                          </li>

                          <li style="float:right"><b>Turmas: </b>
                              <span style="background-color: #feee54; padding:5px; margin: 5px; border-radius:10px" ng-repeat="course_name in teacher.courses_"> {{ course_name }} </span>
                          </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3" ng-show="updating">
            <div class="form-group">
                <label>Nome</label>
                <h3>{{ teacherSelected.user.name }}</h3>
            </div>
            <p>Disciplinas</p>
            <div class="row mb-3">
                <div class="col-md-5" id="subjects">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="subject in subjects track by $index">{{ subject.name }}
                            <button class="btn btn-sm btn-primary float-right" ng-click="addSubject(subject)">+</button> </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h1 class="text-center"><i class="fas fa-arrow-right"></i></h1>
                </div>
                <div class="col-md-5">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="subject in teacherSelected.subjects track by $index">{{subject.name}}
                            <button class="btn btn-sm btn-danger float-right" ng-click="removeSubject(subject)">-</button> </li>
                    </ul>
                </div>
            </div>
            <p>Séries Permitidas</p>
            <div class="row mb-3">
                <div class="col-md-5" id="courses">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="course in courses track by $index">{{course.name}}
                            <button class="btn btn-sm btn-primary float-right" ng-click="addCourse(course)">+</button> </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h1 class="text-center"><i class="fas fa-arrow-right"></i></h1>
                </div>
                <div class="col-md-5">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="course in teacherSelected.courses track by $index">{{course.name}}
                            <button class="btn btn-sm btn-danger float-right" ng-click="removeCourse(course)">-</button> </li>
                    </ul>
                </div>
            </div>
            <button class="btn btn-primary" ng-click="updateTeacher()">Atualizar professor</button>
        </div>
    </div>
</div>
