<div class="pagebody">

    <div class="container" style="width: 80%; margin: 5% 0 0 10%; float: left;">

        <h1>Cadastro de usuário</h1>

        <div class="form-group" style="margin-top: 5%">
            <label for="inputAddress">Token</label>
            <input type="text" class="form-control" id="inputToken" ng-model="token_code" placeholder="Token code">
        </div>

        <button type="submit" class="btn btn-primary" ng-click="search_roles()">Pesquisar</button>
    </div>
</div>
