  <ul id="sidebar" class="nav flex-column">
      <li class="nav-item" style="margin-top: 15%">
          <a class="nav-link active"><img src="/images/e-icon.png" style="max-width: 50%; max-height: auto" alt=""></a>
          <p style="font-family: 'Indie Flower', cursive; font-size: 20px">escolando</p>
      </li>
      <li class="nav-item">
          <img src="/images/avatar.png" ui-sref="profile" alt="">
          <p style="margin-top: 1rem" ui-sref="profile"><strong>{{user.name}}</strong></p>
          <p style="margin-top: -1rem">{{user.role}}</p>
          <a ui-sref="login">Logout</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" ui-sref="groups" style="cursor: pointer">Gerenciamento de Turmas</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" ui-sref="home">Cadastro de token</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" ui-sref="announcement">Comunicados</a>
      </li>
  </ul>