<div class="wrapper">
  <nav id="sidebar" class="nav flex-column" ng-class="{'active': collapsed}">
      <div class="sidebar-header">
          <img src="/images/avatar.png" ui-sref="profile" style="max-width: 8rem; cursor: pointer">
          <p style="margin-top: 1rem; cursor: pointer" ui-sref="profile"><strong>{{user.name}}</strong></p>
          <p style="margin-top: -1rem">{{user.role}}</p>
          <a ui-sref="login"><i class="fas fa-sign-out-alt"></i></a>
      </div>
      <ul class="list-unstyled components">
          <li ui-sref-active="active">
              <a class="nav-link" ui-sref="groups" style="cursor: pointer">Gerenciamento de Turmas</a>
          </li>
          <li ui-sref-active="active">
              <a class="nav-link" ui-sref="home">Cadastro de token</a>
          </li>
          <li ui-sref-active="active">
              <a class="nav-link" ui-sref="announcement">Comunicados</a>
          </li>
          <li ui-sref-active="active">
              <a class="nav-link" ui-sref="activities">Atividades</a>
          </li>
          <li ui-sref-active="active">
              <a class="nav-link" ui-sref="marks">Notas</a>
          </li>
          <li ui-sref-active="active">
              <a class="nav-link" ui-sref="attendance">Frequência</a>
          </li>
      </ul>
  </nav>
</div>
