
  <ul id="sidebar" class="nav flex-column">
      <li class="nav-item" style="margin-top: 15%">
          <a class="nav-link active"><img src="/images/e-icon.png" style="max-width: 50%; max-height: auto" alt=""></a>
          <p style="font-family: 'Indie Flower', cursive; font-size: 20px">escolando</p>
      </li>
      <li class="nav-item">
          <img src="/images/foto.png" alt="">
          <p style="margin-top: 8%"><strong>Sávio</strong></p>
          <p style="margin-top: -10%">Assistente Administrativo</p>
      </li>
      <li class="nav-item">
          <a class="nav-link" ui-sref="groups" style="cursor: pointer">Turmas</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" ui-sref="home">Cadastro de token</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" ui-sref="course-creation">Cadastro de turmas/séries</a>
      </li>
  </ul>
