body {
    height: 100vh;
}

.container {
  float: left;
  margin: 5% 0 0 20%;
  width: 80%;
}

.inner-container {
  margin: 5% 0 0 0;
}

/* Sidebar */

.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  text-align: center;
  height: 100vh;
  width: 15%;
  top: 0;
  left: 0;
  z-index: 999;
  position: fixed;
  color: white;
  background: #008db6;
  transition: all 0.3s;
}

#sidebar a {
  color: white;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #006c96;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #006c96;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: white;
}

#sidebar ul li a:hover {
  color: white;
  background: #006c96;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: white;
  background: orangered;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #006c96;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #006c96;
}

a.article,
a.article:hover {
  background: #006c96 !important;
  color: #fff !important;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

/* Same dropdown links padding*/
#sidebar.active ul ul a {
    padding: 10px !important;
}

.btn-primary{
    background-color: #008db6;
    border-color: #008db6;
}

.btn-primary:hover {
    background-color: #009ac3 !important;
    border-color: #008db6;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -15%;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
  }
  #content.active {
    width: calc(100% - 250px);
  }
  #sidebarCollapse span {
    display: none;
  }
}

/* ====================================================================
Intro Page
==================================================================== */

.intro-page {
  color: black;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding-bottom: 30%;
}

.intro-page .escolando-icon {
  position: relative;
  margin: 0 auto;
  width: 30%;
  padding: 10px;
  text-align: center;
}

.intro-page .sign-up {
  position: relative;
  margin: 0 auto;
  width: 30%;
  padding: 10px 20px;
}

.sign-up a {
  color: #ff9200;
}

.sign-up a:hover {
  color: white;
}

.sign-up .form-group .form-control {
  width: 360px;
  color: #222222;
  font-size: 12pt;
}

.intro-page .escolando-icon img {
  max-width: 60%;
  padding-top: 25px;
}

.intro-page .escolando-icon p {
  font-family: 'Indie Flower', cursive;
  font-size: 42pt;
}

.intro-page h1 {
  text-align: center;
  color: blue;
}

.pagebody {
    width: 100%;
    height: 100vh;
}

/* General */
h1 {
    color: #006c96;
}

.item-selection:hover {
  background-color: #ddd;
  cursor: pointer;
}